---
import Layout from "../layouts/Layout.astro";
import UpdatePasswordForm from "../components/auth/UpdatePasswordForm";
---

<Layout title="Zmiana hasła - WorkLog">
  <main class="min-h-screen flex items-center justify-center px-4 py-8">
    <UpdatePasswordForm client:load />
  </main>
</Layout>
